.homeButton {
  width: 200px;
  height: 100px;
  background-image: url("../../../assets/cinema-logo.svg");
  background-size: cover;
  overflow: visible;
  margin: 10px;
  transition: transform 0.1s ease;
}

.homeButton:hover {
  transform: scale(1.05);
}
