.formContainer {
  padding: 20px;
  max-width: 600px;
  min-height: 600px;
  margin: 20px auto;
  color: #fff;

  p {
    color: rgb(236, 39, 39);
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  select {
    /* styling */
    width: 100%;
    color: inherit;
    border-radius: 4px;
    display: inline-block;
    border-color: #ccc;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #fff;
    background-color: #333;

    /* reset */

    margin: 0;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


  label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
  }

  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #777;
    color: #fff;
  }

  button[type="submit"],
  input[type="button"],
  input[type="submit"]{
    background: #333;
    color: #fff;
    width: 100%;
    border: none;
    margin-top: 40px;
    padding: 15px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    font-family: "Electrolize", serif;
  }

  button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
    
  }

  input:disabled {
    opacity: 0.4;
  }

  input[type="button"]:hover {
    transition: 0.3s all;
  }

  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
    font-family: "Electrolize", serif;
  }
}



.genreTile {
  margin: 0.5em;
  padding: 5px 1em;
  font-size: small;
  border-radius: 5px;
  border: 1px solid rgb(194, 193, 193);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  background-color: #111;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.genreTile:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
  background-color: #222;
}

.selectedGenres{
margin: 2em;
}


