.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  padding: 1rem;
  color: rgba(51, 50, 50, 0.87);
  min-height: 610px;
}
.title {
  padding: 1em;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.content {
  display: flex;
  width: 100%;
  max-width: 900px;
  gap: 2rem;
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.poster {
  width: 100%;
  max-width: 260px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rightSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  text-align: left;
  padding-left: 1em;
}

.purchaseContainer {
  padding: 1rem;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
